<div class="container search-bar">
  <form action="/search">
    <select class="form-control" id="sort" name="sort" staria-label="Default select example" style="margin-left: 10px;">
      <option>A > Z</option>
      <option>Z > A</option>
      <option>類別</option>
      <option>日期</option>
    </select>
  </form>
</div>
<div>
  <h5>總金額：{{totalAmount}}</h5>
</div>
{{#each trackers}}
<div>
  <div class="card">
    <h5>{{this.category}}</h5>
    <h5>{{this.name}}</h5>
    <h5>{{this.date}}</h5>
    <h5>{{this.amount}}</h5>
  </div>
  <span>
    <span style="margin: 0 10px;">
      <a href="/trackers/{{this._id}}/edit" class="text-secondary">edit</a>
    </span>
    <form action="/trackers/{{ this._id }}?_method=DELETE" method="POST" style="margin: 0 10px;">
      <button type="submit" class="btn btn-primary">delete</button>
    </form>
  </span>
</div>
{{/each}}
<a href="/trackers/new">
  <button type="button" class="btn btn-primary" style="margin-left: 160px">Create</button>
</a>
