<div class="container search-bar" style="display: flex; flex-direction: column; margin-top: 30px;">
  <form action="/search" method="post" style="display: flex; justify-content: center;">
    <select class="form-select" id="sort" name="sort" staria-label="Default select example" style=" width: 500px;">
      <option>全部</option>
      <option>居家物業</option>
      <option>交通出行</option>
      <option>休閒娛樂</option>
      <option>餐飲食品</option>
      <option>其他</option>
    </select>
    <button type="submit" class="btn btn-success" style="margin-left: 10px;;">選取</button>
  </form>
  <div style="display: flex; justify-content:center; margin-top: 40px; margin-bottom:20px;">
    <h5>總金額：{{totalAmount}}</h5>
  </div>
</div>
<div style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
{{#each trackers}}
  <div style="display: flex; justify-content: center; position: relative">
    <div class="card" style="display: inline-block; height: 100px; width: 500px; position: relative">
      <span style="position: absolute; left: 20px; top: 10px;">{{{this.category}}}</span>
      <span style="position: absolute; left: 100px; top: 10px;">{{this.name}}</span>
      <span style="position: absolute; left: 100px; bottom: 20px;">{{this.date}}</span>
      <span style="position: absolute; right: 50px; top: 40%;">{{this.amount}}</span>
    </div>
    <div style="position: absolute; right: 50px; top: 30px; display: flex;">
      <span style="margin: 0 20px;">
        <a href="/trackers/{{this._id}}/edit" class="btn btn-primary">edit</a>
      </span>
      <span>
        <form action="/trackers/{{ this._id }}?_method=DELETE" method="POST" style="">
          <button type="submit" class="btn btn-primary">delete</button>
        </form>
      </span>
    </div>
  </div>
{{/each}}
  <div>
    <a href="/trackers/new">
      <button type="button" class="btn btn-primary" style="display: inline-block; margin-top: 50px; width: 200px;">新增支出</button>
    </a>
  </div>
</div>
